<div class="container">
  <div class="row">
    <div class="col m5 card">
      <div class="section">
        <h4 class="left-align">About me</h4>
        <p>Hello World ! Je suis Naïma et j'ai 25 ans. Je peux dire que je suis une développeuse Web en herbe. En herbe ? Oui, car je suis constamment en apprentissage ; j'en apprend TOUS les jours et puis j'ai soif de savoir et j'aime cela. En effet il y a
          encore tellement de choses à voir, découvrir et apprendre dans ce monde numérique qui est en constante évolution.
          <br>
          L'informatique est un domaine qui me passionne vraiment, c'est pour cela que je me suis orientée vers cette voie.
          <br>J'ai fait mes débuts dans le système et réseau (virtualisation de serveurs physiques, mises à niveau d'OS, plan d'adressage IP, configuration et paramètrage de PC, Cisco etc)</p>
      </div>
    </div>
    <div class="col m6 offset-m1 card">
      <div class="section">
        <h4 class="left-align">Hobbies</h4>
        <!-- <div class="col-md-2">
          <div class="col oneline">
            <div class="circle-in hvr-pulse-grow">
              <i class="fa fa-plane"></i>
              <p class="hobb">Voyager</p>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
    <div class="divider"></div>
  <div class="row">
    <div class="col m12">
      <h4 class="left-align" id="sectionskills">Skills</h4>
    </div>
  </div>
</div>
