<footer class="page-footer teal lighten-2">
  <div class="container">
    <div class="row">
      <ul class="social-icons">
        <li class="icon icon--github">
          <a href="https://github.com/anaima">
            <span class="icon__name">Github</span>
          </a>
        </li>
        <li class="icon icon--twitter">
          <a href="https://twitter.com/namilya9">
            <span class="icon__name">Twitter</span>
          </a>
        </li>
        <li class="icon icon--gmail">
          <a href="http://www.google.fr">
            <span class="icon__name">Gmail</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      ©2016 Copyright Naïma A.
      <!-- data-position can be : bottom, top, left, or right -->
      <!-- data-delay controls delay before tooltip shows (in milliseconds)-->
      <a class="grey-text text-lighten-4 right btn tooltipped" data-delay="50" data-position="left" data-tooltip="Namilya9@gmail.com">Contact</a>
    </div>
  </div>

</footer>
