<footer class="page-footer teal lighten-2">
  <div class="container">
    <div class="row">
      <ul class="social-icons">
        <li class="icon icon--facebook">
          <a href="http://www.facebook.fr">
            <span class="icon__name">Facebook</span>
          </a>
        </li>
        <li class="icon icon--twitter">
          <a href="http://www.twitter.fr">
            <span class="icon__name">Twitter</span>
          </a>
        </li>
        <li class="icon icon--gmail">
          <a href="http://www.google.fr">
            <span class="icon__name">Gmail</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      ©2016 Copyright Naïma A.
      <a class="grey-text text-lighten-4 right" href="www.google.com">Contact</a>
    </div>
  </div>

</footer>
