<nav>
   <div class="nav-wrapper teal lighten-2">
     <a href="/" class="brand-logo circle responsive-img"><img src="../img/logo_naim2.png" alt="logo Naïma"/></a>
     <div class="container">
     <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
     <ul class="right hide-on-med-and-down">
       <li><a href="/">Home</a></li>
       <li><a href="#">About</a></li>
       <li><a href="#">Hobbies</a></li>
       <li><a href="#sectionskills">Skills</a></li>
       <li><%= link_to 'Projects', projects_path %></li>
       <li><%= link_to 'CV', pdf_path %></li>
     </ul>
     <ul class="side-nav" id="mobile-demo">
       <li><a href="/">Home</a></li>
       <li><a href="#">About</a></li>
       <li><a href="#">Hobbies</a></li>
       <li><a href="#sectionskills">Skills</a></li>
       <li><a href="#">Projects</a></li>
     </ul>
     </div>
   </div>
 </nav>
